[Album0]
albumName = The New Abnormal
artistName = The Strokes
ledStartIndex = 69
ledEndIndex = 89

[Album1]
albumName = I Don't Like Shit, I Don't Go Outside: An Album by Earl Sweatshirt
artistName = Earl Sweatshirt
ledStartIndex = 47
ledEndIndex = 66

[Album2]
albumName = Faces
artistName = Mac Miller
ledStartIndex = 24
ledEndIndex = 44

[Album3]
albumName = Missing Molars
artistName = Genesis Owusu
ledStartIndex = 1
ledEndIndex = 21
