[Album0]
albumName = album0
artistName = artist0
ledStartIndex = 0
ledEndIndex = 9

[Album1]
albumName = album1
artistName = artist1
ledStartIndex = 10
ledEndIndex = 19

[Album2]
albumName = album2
artistName = artist2
ledStartIndex = 20
ledEndIndex = 29

[Album3]
albumName = album3
artistName = artist3
ledStartIndex = 30
ledEndIndex = 39
